<div class='panel panel-default'>
  <div class='panel'>
    <div class='panel-heading'>

    </div>

    <div class='panel-body'>
      <%= @question.text %>
    </div>
  </div>

  <div class='panel'>
    <ul>
      <% @answers.each do |answer| %>
        <li>
          <%= button_to "#{answer.text}", next_scene_path(scene_id: answer.scene_id), remote: true %>
        </li>
      <% end %>
    </ul>
  </div>
</div>