<div class="panel panel-default" id="expander">
    <div class="panel-body">
        <div class="col-md-8">
        <%= image_tag("samplepic.png", :alt => "Your scenario", id: 'scenario-18') %>
        </div>     
        <div id="questionanswer" class="col-md-4">
          <%= @question.text %> <br> <br>
          <% @answers.each do |answer| %>
            <li>
              <%= button_to "#{answer.text}", next_scene_path(scene_id: answer.scene_id), remote: true, class: "btn btn-default scene-link", style: 'white-space: normal;' %>
              <br> <br>
            </li>
          <% end %>
        </div>
    </div>
</div>