<div class='panel panel-default'>
  <div class='panel-heading'>
    <h2> Scene 1 </h2>
  </div>

  <div class='panel-body'>
    <%= @question.text %>
  </div>
</div>

<div class='panel'>
  <ul>
    <% @answers.each do |answer| %>
      <li><%= link_to "#{answer.text}", '#' %></li>
    <% end %>
  </ul>
</div>
