<div id="core" class="col-md-9">
    <div>
        <div class="header"  id="main">
            <div class="panel panel-default">
                <div class="panel-body">
                    They waste precious food.
                </div>
            </div>
        </div>
        
        <div id="content">
            <% unless session[:scene_id].nil? %>
                <% if session[:scene_id] == '1' %>
                    <%= render 'questions/scene_1' %>
                <% else %>
                    <%= render "questions/scene_#{session[:scene_id]}" %>
                <% end %>
            <% else %>
                <div class="panel panel-default" id="expander">
                    <div class="panel-body">
                    <%= button_to 'Play', next_scene_path, remote: true %>
                    </div>
                </div>
            <% end %>
        </div>
        
        <div id="progress">
            <div class="panel panel-default">
                <div class="panel-body">
                    They waste precious food.
                </div>
            </div>
        </div>
    </div>
</div>

<div id='sidebar' class="col-md-3">
    somecontent
    somecontent
    somecontent
</div>