<div id="core" class="col-md-9">
    <div>
        <div class="header"  id="main">
            <div class="panel panel-default">
                <div class="panel-body">
                    They waste precious food.
                </div>
            </div>
        </div>
        
        <div id="content">
            <div class="panel panel-default" id="expander">
                <div class="panel-body">
                    They waste precious food.
                    <%= button_to 'Play', '#', id: 'btn-play' %>
                </div>
            </div>
        </div>
        
        <div id="progress">
            <div class="panel panel-default">
                <div class="panel-body">
                    They waste precious food.
                </div>
            </div>
        </div>
    </div>
</div>

<div id='sidebar' class="col-md-3">
    somecontent
    somecontent
    somecontent
</div>