/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";

body {
    background-color: #303030;
}

#main {
    padding-right: 450px;
    padding-bottom: 15px;
}

#core {
    border-right: 1px solid #5d5d5d;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
}

#scenario{
    width:100%;
    max-width: 100%;
}

#expander{
    padding-top: 10px;
    padding-bottom: 10px;
}

#square{
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    position:relative; 
    text-align:center;
}

#padder{
    padding-bottom: 100px;
}

#serkol-1:hover, #serkol-2:hover,
#serkol-3:hover, #serkol-4:hover,
#serkol-5:hover, #serkol-6:hover,
#serkol-7:hover, #serkol-8:hover,
#serkol-9:hover, #serkol-10:hover,
#serkol-11:hover, #serkol-12:hover{
    background-image:url('serkol-08.png')
}

#questionanswer{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

#choice1 {
    width: 100%;
}

#choice2 {
    width: 100%;
}

.choice {
  width: 100%;
}

#question{
    font-family: 'Droid Serif', serif;
}

* {
    margin: 0;
    padding: 0;
}
        
#clock {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 20px auto 0 auto;
    background: url('clock-03.png');
    list-style: none;
}
        
#min, #hour {
    position: absolute;
    width: 12px;
    height: 180px;
    top: 0px;
    left: 85px;
}

#min {
    background: url('minhand.png');
    z-index: 2;         
    -webkit-animation: rotate 1s infinite linear;
}
           
#hour {
    background: url('hourhand.png');
    z-index: 1;
    animation: rotate 12s infinite linear;
}

#paused {
    animation-play-state: paused;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

#sidebar {
    border-left: 1px solid #5d5d5d;
}

.scene-link {
  cursor: pointer;
}


.scene-link:hover #btn-play:hover {
  color: blue;
}

#btn-play {
  cursor: pointer;
}

#sidebar {
    border-left: 1px solid #5d5d5d;
}

#sidebar {
    border-left: 1px solid #5d5d5d;
}

.scene-link {
  cursor: pointer;
}


.scene-link:hover #btn-play:hover {
  color: blue;
}

#btn-play {
  cursor: pointer;
}
