<!DOCTYPE html>
<html>
<head>
    <title>Juan Day</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway'></stylesheet_link_tag>
    <stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Droid+Serif'></stylesheet_link_tag>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
